@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar{
        @apply w-2 bg-transparent
    }

    ::-webkit-scrollbar-track{
        @apply bg-white/0
    }

    ::-webkit-scrollbar-thumb{
        @apply bg-sky-600 rounded-lg border-white
    } 
}

@layer components{
    .btn{
        @apply rounded-md h-10 text-white font-bold inline-block
    }
}

@layer utilities{

    .modify-scroll::-webkit-scrollbar{
        width: 7px;
    }

    .modify-scroll::-webkit-scrollbar-thumb{
        @apply bg-orange-500 rounded-lg border-r-2 border-white
    }

    .clip-rectangle-off {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
    }
    
    .clip-rectangle-on {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .clip-circle-off {
        clip-path: circle(0% at 50% 50%);
    }
    
    .clip-circle-on {
        clip-path: circle(70.7% at 50% 50%);
    }

    .clip-circle-tr-off {
        clip-path: circle(0% at 100% 0);
    }
    
    .clip-circle-tr-on {
        clip-path: circle(141.2% at 100% 0);
    }
}